<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="preparationTime" value="60" />
    <add key="inputPenalties" value="True" />
    <add key="recordSplitTimes" value="False" />
    <add key="country" value="SI" />
    <add key="recordVideos" value="False" />
    <add key="videosFolder" value="" />
    <add key="cameras" value="http://admin:@192.168.1.163:10080;http://admin:@192.168.1.10:8899" />
  </appSettings>
</configuration>
