<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="AWSAccessKey" value="AKIAIGELXN6JYWKJRE4A"/>
        <add key="AWSSecretKey" value="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"/>
        <add key="AWSRegion" value="eu-central-1"/>
    </appSettings>
</configuration>